# .dockerignore https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore temp directories
*/temp
*/tmp

# Ignore IDE files
.idea
.project
.gitignore

# Ignore objects handled by docker
/taoi/external_dependencies
Dockerfile

# Ignore vagrant artifacts
.vagrant/
*/Vagrant*

# Ignore convenience code
/utils

# Ignore
# Ignore stuff from .gitignore
.*.swp
.*.swo
.*.swn
*.pyc
java/class
*\$py.class
